*{
    margin:none;
    padding:none;
}

a{
    color:white;
    font-size:15px;
    text-decoration: none;
    margin-right: 200px;

}
button{
    background-color:#f08804 ;
}
#logo{
    color:#f08804;
    font-size: 20px;
   
}
div{
    height:60px;
    background-color: #0f1111;
    
}
section{
    height:600px;
}


#one{
    background-color: rgba(255,0,0,0.5);
    height:100px;
    width:100px;
    display:inline-block;
}
#second{
    background-color: rgba(0,255,0,0.5);
    height:100px;
    width:100px;
    display:inline-block;

}
#third{
    background-color: rgba(0,0,255,0.5);
    height:100px;
    width:100px;
    display:inline-block;

}
    
footer{
    background-color:black;
    text-align: center;
    color:white;
}

